body {
  background-image: url('mt cook.jpg');
  width: 100%;
  height: 100%;
/*  background-repeat: no-repeat;*/
  background-size: cover;
}

/*.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[type="radio"]:checked ~ &,
  input[type="checkbox"]:checked ~ & {
    opacity: 1;
    max-height: 100px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}*/
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10%;
}



input[type=submit]:hover {
  background-color: #45a049;
}





.responsive {
  width: 40%;
  max-width: 642px;
  height: auto;
}